<h3>スケジュール管理アプリ</h3>

<% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
<% end %>

<p><%= link_to "新規追加", :new_post %></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title%></td>
      <td><%= post.start_date.to_s(:datetime_jp) %></td> 
      <td><%= post.end_date.to_s(:datetime_jp) %></td> 
      <td><% if post.all_date %>○<% end %></td>
      <td><%= post.updated_at.to_s(:datetime_hour_jp) %></td>
      <td>
        <%= link_to "詳細", post %>
      </td>
      <td>
        <%= link_to "編集", [:edit, post] %> 
      </td>
      <td>
        <%= link_to "削除", post, data: { turbo_method: :delete, turbo_confirm: "削除しますか？"} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


